.stepper {
  .bar-stepper {
    display: flex;
    align-items: center;
    padding: 0px $wrapper-mobile-padding;

    &__goback-button {
      display: block;
      padding: 0 11px;
      height: 24px;
      border: 1px $gray solid;
      border-radius: 100%;
      outline: none;
      background: white;
      position: relative;

      svg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__label {
      color: $text-light;
      font-family: $lato;
      font-size: 10px;
      line-height: 16px;
      font-weight: bold;
      white-space: nowrap;
      margin: 0 16px 0 12px;
    }

    &__progress {
      flex: 1;
      &--wrapper{
        display: block;
        width: 100%;
        height: 6px;
        border-radius: 6px;
        overflow: hidden;
      }
      &--current{
        background-color: $purple;
        height: 100%;
      }
    }
  }

  .list-stepper {
    
    &__button-wrapper {
      padding-bottom: 44px;
      overflow: hidden;
      position: relative;
      display: block;
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        border-left: 1px dashed $gray;
        transform: translate(10px, 10px);
      }

      &:last-child:before {
        display: none;
      }
    }

    &__button {
      overflow: hidden;
      position: relative;
      display: block;
      border: none;
      outline: none;
      background: none;
      padding: 0;

      &--current {
        .list-stepper__label {
          color: $text-dark;
        }

        .list-stepper__number {
          background-color: $purple_3;
          border-color: $purple_3;
          color: white;
        }
      }
    }

    &__number {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border: 1px $text-gray_2 solid;
      border-radius: 100%;
      text-align: center;
      font-family: $lato;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.6px;
      color: $text-gray_2;
      background-color: $bg-light;
    }

    &__label {
      display: inline-block;
      font-family: $lato;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: $text-gray;
      margin-left: 16px;
    }
  }
}