// Colors
$red: #EF3340;
$purple: #6769FF;
$green: #43B748;
$green_2: #7CC954;

$dark: #141938;
$medium: #7981B2;
$light: #D7DBF5;
$gray: #E4E8F7;

$text-red: #FF1C44;
$text-dark: #494F66;
$text-light: #676F8F;
$text-gray: #A3ABCC;
$text-purple: #6769FF;

$bg-light: #F7F8FC; 

// Fonts
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

// Form
$button-border-radius: 8px;

$checkbox-border-radius: 4px;
$checkbox-size: 20px;

$input-border-radius: 4px;
$input-border: 1px solid #C5CBE0; 

// Breakpoints
$mobile-breakpoint: 768px;

// Responsive
$wrapper-mobile-padding: 32px;
$mobile-header-height: 56px;

// Desktop
$container-max-width: 1184px;