.arma-tu-plan-screen {
  .aside {
    padding: 12px 0;
    background-color: white;
  }
  .main {
    background-color: $bg-light;
    overflow: hidden;
    padding-bottom: 52px;

    &__title {
      font-family: $lato;
      font-weight: normal;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.6px;
      color: $text-dark;
      margin: 40px $wrapper-mobile-padding 8px $wrapper-mobile-padding;
    }
    
    &__description {
      font-family: $roboto;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: $text-dark;
      margin: 0px $wrapper-mobile-padding 8px $wrapper-mobile-padding;
    }
    
    
    &__card-vehicle-details {
      padding: 44px 84px 36px 24px;
      margin: $wrapper-mobile-padding;
      background-color: white;
      border-radius: 12px;
      filter: drop-shadow(0px 0px 10px rgba(163, 171, 204, 0.12));
      position: relative;

      svg {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: calc(100% + 8px);
        width: auto;
      }
    }
    
    &__card-plate {
      font-family: $roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $text-gray;
    }

    &__vehicle-model {
      font-family: $lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: $text-dark;
    }

    .insurance-form{
      background-color: white;
      // padding: 44px $wrapper-mobile-padding 0 $wrapper-mobile-padding;
      padding: 44px 0 0 0;

      &__customize-coverages-title {
        font-family: $lato;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: $text-dark;
        margin-top: 36px;
        margin-bottom: 28px;
        padding: 0 $wrapper-mobile-padding;
      }
    }
    
    
    .insured-amount {
      padding: 0 $wrapper-mobile-padding;
      &__title {
        font-family: $lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $text-dark;
      }

      &__min-max {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
          font-family: $lato;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          text-transform: uppercase;
          color: $text-light;
        }
        .separator{
          display: block;
          width: 1px;
          background-color: $text-light;
          height: 12px;
          margin: 0 10px;
        }
      }

    }

    .insurance-list__wrapper {
      padding: $wrapper-mobile-padding;
      position: relative;
    }

    .insurance-list__empty-list {
      color: $text-light;
      font-family: $roboto;
      text-transform: uppercase;
    }

    .insurance-list-item {
      display: grid;
      grid-template-columns: 7fr 30fr;
      grid-template-rows: auto;
      padding: 24px 0 32px 0;
      border-bottom: 1px $gray solid;
      z-index: 2;
      position: relative;
      
      &--hidden{
        border-bottom: none;
        overflow: hidden;
        height: 1px;
        width: 1px;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding: 0;
      }

      &__title{
        font-family: $lato;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $text-dark;
        margin-bottom: 16px;
        padding-right: 60px;
      }

      &__description {
        font-family: $roboto;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $text-light;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s;
        &--shown {
          max-height: 800px;
        }
      }

      .insurance-list-item__description-button-toggle {
        border: none;
        padding: 0;
        outline: none;
        background: none;

        span {
          display: inline-block;
          vertical-align: middle;
          font-family: &lato;
          font-weight: bold;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 0.8px;
          text-transform: uppercase;
          color: $purple_3;
        }
        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 16px;
          background-size: cover;
        }
      }

      &__description--shown + .insurance-list-item__description-button-toggle {
        span {
          color: $text-gray;
        }
        &:after {
          background-image: url('../../assets/gl_arrow_up.svg');
        }
      }

      &__description--hidden + .insurance-list-item__description-button-toggle {
        &:after {
          background-image: url('../../assets/gl_arrow_down.svg');
        }
      }

      &__content {
        position: relative;
      }

      &__checkbox {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        outline: none;
        background: none;
        padding: 0;

        &-icon {
          display: block;
          width: 52px;
          height: 32px;
          border-radius: 32px;
          background-color: $gray;
          transition: background-color 0.4s;

          &:before {
            content: '';
            display: block;
            background-color: white;
            width: 28px;
            height: 28px;
            box-shadow: 0px 2px 2px rgba(163, 171, 204, 0.3), 0px 2px 1px rgba(163, 171, 204, 0.06);
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translate(0px, -50%);
            border-radius: 100%;
            transition: transform 0.4s;
          }
        }

        &-label {
          display: none;
        }

        $checkbox_selector: &;

        &--active {
          .insurance-list-item {
            &__checkbox{
              &-icon {
                background-color: $green_2;
                &:before {
                  transform: translate(20px, -50%);
                }
              }
            }
          }
        }
      }
    }

    .form-insurance {
      &__aside {
        position: fixed;
        z-index: 2;
        background-color: white;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 14px $wrapper-mobile-padding;
        box-shadow: 0px 1px 4px rgba(163, 171, 204, 0.06), 0px 8px 30px rgba(20, 43, 127, 0.1);
      }
      &__wrapper {
        display: flex;
      }

      &__amount {
        flex: 1;
        &-title {
          display: none;
        }
        &-number {
          font-family: $lato;
          font-weight: normal;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.2px;
          color: $text-dark;
          
        }
        &-recurrency {
          font-family: $lato;
          font-weight: bold;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 0.8px;
          color: $text-dark;
        }

      }
      &__includes {
        display: none;
      }
      &__submit {
        flex: 1
      }
    }

  }

  
  @media screen and (min-width: $mobile-breakpoint) {
    display: block;
    // grid-template-columns: 10fr 27fr;
    // grid-template-rows: auto;
    min-height: 100%;
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    position: relative;

    .aside {
      position: absolute;
      width: 27.028%;
      height: 100%;
      left: 0;
      top: 0;
      &__container {
        position: fixed;
        padding: 0;
        padding-top: 52px - 12px;
        z-index: 2;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100vw;
        background-color: $bg-light;
        z-index: 1;
      }
    }

    .main {
      margin: 0 24.325% 0 27.028%;
      background: none;
      padding-top: 52px;

      &__goback {
        border: none;
        background: none;
        span {
          display: inline-block;
          vertical-align: middle;
          font-family: $lato;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          color: $text-gray;
        }

        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
          width: 24px;
          height: 24px;
          background-size: cover;
          background-image: url('../../assets/icon_goback.svg')
        }
      }

      &__title {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;
        margin-top: 24px;

        font-size: 40px;
        line-height: 48px;
      }
      
      &__description {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 44px;
      }
      
      &__card-vehicle-details {
        margin-left: 0;
        margin-right: 0;

        padding: 40px 160px 56px 32px;

        svg {
          right: 20px;
        }
      }

      &__vehicle-model {
        font-size: 20px;
        line-height: 28px;
      }

      .form {
        max-width: 384px;
        margin: auto;

        .insured-amount {
          padding-left: 0;
          padding-right: 0;

          &--wrapper{
            display: flex;
            align-items: center;
            padding-bottom: 43px;
            border-bottom: 1px $gray solid;
          }

          &__control {
            flex: 1;
            margin-left: 44px;
            margin-bottom: 0px;
          }

          &__min-max {
            .separator{
              opacity: 0;
            }
          }
        }

        .insurance-form {
          padding-top: 55px - 32px;
        }

        .form-insurance {
          display: block;
          &__aside {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: initial;
            box-shadow: none;
            width: 24.325%;
            padding-top: $mobile-header-height + 189px ;
          }
          
          &__wrapper {
            position: fixed;
            flex-direction: column;
          }

          &__amount-title {
            display: block;
            font-family: $lato;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.6px;
            color: $text-dark;
            margin-bottom: 10px;
          }

          &__amount-number {
            margin-bottom: 4px;
          }

          &__amount-recurrency {
            padding-bottom: 19px;
            border-bottom: 1px $gray solid;
            margin-bottom: 24px;
          }

          &__includes {
            display: block;

            &-title {
              font-family: $lato;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.2px;
              color: $text-dark;
              margin-bottom: 12px;
            }

            &-list {
              list-style: none;
              margin-bottom: 32px;
              li{
                font-family: $roboto;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: $text-light;
                padding-left: 33px;
                position: relative;
                margin-bottom: 8px;

                &:before {
                  content: '';
                  position: absolute;
                  display: block;
                  left: 0;
                  top: 0;
                  width: 16px;
                  height: 16px;
                  background-image: url('../../assets/gl_check.png');
                  background-size: contain;
                }
              }
            }
          }
        }

        .insurance-list-item {
          &__checkbox {
            position: relative;
            &--active{
              .insurance-list-item__checkbox-icon {

                &:after {
                  content: '-';
                }
              }
            }
            &-icon {
              vertical-align: middle;
              display: inline-block;
              width: 24px;
              height: 24px;
              border: 1px $purple_2 solid;
              color: $purple_3;
              border-radius: 100%;
              background: white;
              text-align: center;
              margin-right: 12px;
              &:before {
                display: none;
              }
              &:after {
                content: '+';
                display: inline-block;
                line-height: 20px;
                font-size: 21px;
                font-family: $lato;
              }
            }
            &-label {
              vertical-align: middle;
              display: inline-block;
              font-family: $lato;
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.6px;
              color: $purple_3;
            }
          }

          &__description-button-toggle {
            position: absolute;
            top: 0;
            right: 0;
    
            span {
              display: none;
            }

            &:after {
              width: 20px;
              height: 20px;
            }
          }
          
          &__description--shown + .insurance-list-item__description-button-toggle {
            span {
              color: $text-gray;
            }
            &:after {
              background-image: url('../../assets/gl_arrow_up_red.svg');
            }
          }
          
          &__description--hidden + .insurance-list-item__description-button-toggle {
            &:after {
              background-image: url('../../assets/gl_arrow_up_red.svg');
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    
  }
}